.word-box {
  border-radius: 20px;
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  box-shadow: 0 3px 10px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0px;
  padding: 5px 10px;
  transition: all 0.1s ease-in-out;

  &:hover {
    box-shadow: 0 3px 3px 0 rgba(31, 38, 135, 0.37);
  }

  summary {
    font-size: large;
    font-weight: bold;
  }
}
