extends base
include mixins/word

block content
  .form-content
    form.home__form(method="GET")
      input#home__searchingbar(
        placeholder="Searching the Word...",
        type="text",
        name="keyword"
      )
      //- button
      //-   i.fas.fa-search
  hr
  .wordlist 
    each word in words 
      +word(word)
    else
      li No words found.
