extends base

block content
  form(method="POST")
    input(placeholder="Word", type="text", name="word")
    input(placeholder="Mean", type="text", name="mean")
    input(value="Save", type="submit") 
