header 
  nav.header__nav 
    ul 
      a(href="/") 
        i.fas.fa-home
    ul 
      a(href="/upload")
        i.fas.fa-upload 
    ul 
      a(href="/edit") 
        i.fas.fa-edit
    ul 
      a(href="/login")
        i.fas.fa-sign-in-alt
    ul 
      a(href="/feedback")
        i.fas.fa-comment-alt-exclamation

.header__title 
  a(href="/") 
    h1= pageTitle
